@using Microsoft.AspNetCore.Identity
@using SistemaChamados.Data.Identity
@inject UserManager<UserCustom> UserManager
@inject RoleManager<IdentityRole> RoleManager

@model IEnumerable<SistemaChamados.Models.Calls>
@{
    ViewData["Title"] = "Chamados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main id="main" class="main">

    <section class="section">
        <div class="row" style="justify-content: center;">
            <div class="pagetitle col-lg-9">
                <h1>@ViewData["Title"]</h1>
                <nav>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a asp-action="Home">Home</a></li>
                        <li class="breadcrumb-item active">@ViewData["Title"]</li>
                    </ol>
                </nav>
            </div><!-- End Page Title -->
            <div class="col-lg-9">
                <div class="d-flex justify-content-between">
                    <a type="button" asp-action="CreateCall" class="mb-3 btn btn-primary btn-lg">Novo Chamado</a>
                    <div class="d-flex align-items-center mb-3">
                        @if (ViewData["CurrentFilter"] == null)
                        {
                        <form asp-controller="Dashboard" asp-action="ListCalls" method="get">
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon1">ID</span>
                                    <input type="text" class="form-control" placeholder="ID do chamado" name="searcheId" value="@ViewData["CurrentFilter"]" aria-label="ID" aria-describedby="basic-addon1">
                                <input type="submit" value="Pesquisar" class="btn btn-secondary" />
                            </div>
                        </form>
                        }else{
                        <a asp-action="ListCalls" class="ms-3">voltar para Lista</a>
                        }
                    </div>
                </div>
                <div class="card">
                    <div style="padding: 1rem 2rem;">
                        <table class="table  table-hover">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CallsId)
                                    </th>
                                    <th width="100px">
                                        @Html.DisplayNameFor(model => model.Status)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Phone)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Decription)
                                    </th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CallsId)
                                        </td>
                                        <td>
                                            @if (item.Status == "Aberto")
                                            {
                                                <span class="badge text-bg-success bg-success" >
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </span>
                                            }
                                            @if (item.Status == "Andamento")
                                            {
                                                <span class="badge text-bg-warning bg-warning">
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </span>
                                            }
                                            @if (item.Status == "Fechado")
                                            {
                                                <span class="badge text-bg-dark bg-dark" >
                                                    @Html.DisplayFor(modelItem => item.Status)
                                                </span>
                                            }
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Decription)
                                        </td>
                                        <td class="crud-button" style="text-align: end;">
                                            <a class="icon-edit" asp-action="DetailsCalls" asp-route-id="@item.CallsId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                                                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z" />
                                                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                                </svg>
                                            </a>
                                        </td>
                                        @if (!User.IsInRole("Usuario")){
                                        <td class="crud-button" style="text-align: end;">
                                            <a class="icon-edit" asp-action="EditCall" asp-route-id="@item.CallsId">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                                </svg>
                                            </a>
                                        </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->
@section Scripts {
@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}